.card-signup{
  background-color: #e2dfdf;
}

.header{
  margin-top: 5vh;
}

.signuppage-button{
  margin-top: 3vh;
  background-color: #ffa24c;
}

.signuppage-button.ant-btn:hover{
  background-color: #ff8c1a !important;
  border-color: #ff8c1a !important;
}

.cancel-button{
  margin-left: 5vh;
  background-color: #444;
}

.cancel-button.ant-btn:hover{
  background-color: #333 !important;
  border-color: #333 !important;
}