
.profileedit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  
.profileedit-box {
    background-color: #e2dfdf;
    padding: 30px;
    border-radius: 15px;
    width: 600px;
    height: 800px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
  
.logo {
    width: 80px;
    margin-bottom: 10px;
    margin-top: -15px;
    margin-left: -15px;
}
  
h2 {
    text-align: center;
    font-size: 30px;
    color: #333;
    font-weight: bold;
    margin-bottom: 45px;
    margin-top: -75px;
}
  
.form-row {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 15px; */
}
  
.input-group {
    margin-bottom: 10px;
    width: 50%;
    margin-left: 30px;

}
  
.input-group label {
    display: block;
    /* font-weight: bold; */
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 12px;
}

.address input{
    height: 50px;
}

textarea {
    resize: vertical;
    min-height: 60px;
}
  
input,textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e0e3f5;
    font-size: 14px;
}

.password-group{
    margin-top: -55px;
}

.form-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
}
.btn {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
    margin-top: 10px;
}
.update {
    background-color: #ffa24c;
    color: #fff;
}

.update.ant-btn:hover{
    background-color: #ff8c1a !important;
    border-color: #ff8c1a !important;
  }

.cancel {
    background-color: #444;
    color: #fff;
}
.cancel.ant-btn:hover{
    background-color: #333 !important;
    border-color: #333 !important;
  }