@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/*font-family: 'Inter', sans-serif;*/
.navbar {
  width: 98%;
  height: 120px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-left: -5vh;
}


.navbar .right-section {
  display: flex;
  align-items: center;
}


.navbar .right-section .links .button {
  display: flex;
  align-items: center;
  margin-right: 250px;
}

.logo {
  width: 240px;
  margin-top: 12px;
}


.profile {
  width: 90px;
}


.links {
  display: flex;
  align-items: center;
  margin-left: 20px; 
}


.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

  .search input {
    padding-left: 30px; 
    margin-right: 200px;
    width: 400px;
    height: 20px;
    border-radius: 25px;
    background-image: url('../../icons/search-286.png'); 
    background-repeat: no-repeat;
    background-position: 5px center; 
    background-size: 20px; 
  }
  
  .search input::placeholder {
    color: #aaa; /* Optional: style the placeholder text */
  }

.button-login{
    background-color: black;
    border-radius: 25px;
    color: white;
    width: 130px;
    height: 40px;
    font-weight: bold;
}


.icon {
    margin-left: 10px; 
    color: #333; 
    cursor: pointer;
  }
  
  .chat-icon {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .cart-icon {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .list-icon {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .bell-icon {
    margin-right: 20px;
    cursor: pointer;
  }
  
