@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/*font-family: 'Inter', sans-serif;*/

* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 120px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}


.navbar .right-section {
  display: flex;
  align-items: center;
}


.navbar .right-section .links .button {
  display: flex;
  align-items: center;
  margin-right: 250px;
}

.logo {
  width: 240px;
  margin-top: 12px;
}


.profile {
  width: 90px;
}


.links {
  display: flex;
  align-items: center;
  margin-left: 20px; 
}


.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

.search {
  margin-right: 120px; 
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.search input {
  border-radius: 60px;
  border: 3.5px solid #ccc; 
  padding: 20px; 
  margin-top: "";
  width: 600px;
  height: 0px;


}

.search input::placeholder {
  color: #aaa; 
}

.button-login{
    background-color: white;
    border-radius: 25px;
    color: black;
    width: 90px;
    height: 40px;
    margin-right: 20px;
    font-weight: bold;
}

.button-sign-up{
    background-color: white;
    border-radius: 25px;
    color: black;
    width: 90px;
    height: 40px;
    margin-right: 40px;
    font-weight: bold;
}

.button-login:hover{
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
}

.button-sign-up:hover{
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
}
