@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');



.navbarseller {
  width: 98%;
  height: 150px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: center;
  cursor: pointer;
}


.navbarseller .right-section {
  display: flex;
  align-items: center;
}


.navbarseller .right-section .links .button {
  display: flex;
  align-items: center;

}


.linksseller {
  display: flex;
  align-items: center;
  margin-left: 20px; 
}


.linksseller a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

.search {
  margin-right: 120px; 
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.search input {
  border-radius: 60px;
  border: 3.5px solid #ccc; 
  padding: 20px; 
  margin-top: "";
  width: 600px;
  height: 0px;


}

.search input::placeholder {
  color: #aaa; 
}

.button-createproductseller {
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  color: rgb(52, 52, 52);
  border: 3px solid rgb(52, 52, 52); 
  width: 160px;
  height: 45px;
  margin-right: 60px; 
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

}


.button-createproductseller:hover{
    background-color: rgb(47, 42, 42);
    color: rgb(255, 255, 255);
}


.box-navbarseller {
  margin: center;
  display: flex;
  align-items: center;
  gap: 30px; 
}
.box-navbarseller :hover{
  border-radius: 3px;
  mix-blend-mode:multiply;
  filter:drop-shadow(0px 0px 12px rgb(246, 94, 6));
  opacity: 3.5;
}

.box-navbarseller img {
  height: 35px; 

}

.imgboxseller {
  display: flex;
  margin-left: 60px;
  gap: 35px;
}
.imgboxseller :hover{
  border-radius: 3px;
  mix-blend-mode:multiply;
  filter:drop-shadow(0px 0px 12px rgb(246, 94, 6));
  opacity: 3.5;
}

.imgboxseller img {
  height: 35px; 

}