
  .ant-table-thead > tr > th {
    background-color: #cfd1d2 !important; /* สีฟ้าอ่อน */
    color: #000; /* สีของข้อความในหัวตาราง */
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
  }
  

  .custom-modal {
    /*border: 2px solid #1890ff; /* เปลี่ยนสีกรอบเป็นสีฟ้า */
    border-radius: 10px; /* ทำให้กรอบมีความโค้ง */
    /*background-color: #c54f4f; /* สีพื้นหลังของโมดัล */
  }
  
  .custom-button {
    background-color: #ff8c00; /* เปลี่ยนสีพื้นหลัง */
    border-color: #ff8c00; /* เปลี่ยนสีกรอบ */
    color: white; /* เปลี่ยนสีข้อความ */
  }

  .custom-modalsellrate .ant-modal-body {
    max-height: 400px; /* ปรับความสูงตามต้องการ */
    overflow-y: auto;  /* ทำให้สามารถเลื่อนในแนวตั้งได้ */
  }